@using KisiselWebProjesi.Models.Siniflar
@model List<İletisim>
@{
    ViewBag.Title = "Iletisimlistesi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="mb-4">Yetenek Sayfası</h2>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Başlık</th>
        <th>Güncelle</th>

    </tr>

    @foreach (var x in Model)
    {
        <tr>
            <td>@x.id</td>
            <td>@x.baslik</td>
            <td><a href="/Admin/IletisimGetir/@x.id" class="btn btn-primary">Güncelle</a></td>



        </tr>
    }

</table>



